CF_WORKER_URL=your-worker-url.workers.dev
BASE_URL=https://anikototv.to
CORS_ALLOWED_ORIGIN=*

# Waterfall API Fallback URLs
SHINEII_URL=https://ani-koto-api-shineii.vercel.app/
CONSUMET_URL=https://api.consumet.org/anime/gogoanime
GOGO_URL=https://api.consumet.org/anime/gogoanime